<nav class="navbar navbar-default" style="background-color: gray" role="navigation">
  <img src="../assets/ddd.png" style="max-height: 10%; max-width: 10%;">  
  
  </nav>

  <h1 style="text-align: center; color: rgb(65, 65, 65)">DEMANDE DE CREDIT HYPOTHECAIRE</h1>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

      <br/>
      <br/>
			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-6">
							 <span class="badge badge-default" style="font-size: 12px">Montant d'achat
              </span>
						</div>
						<div class="col-md-6">
                <input type="text" class="form-control" name="mAchat" [(ngModel)]="mAchat">
						</div>
          </div>
          <br>
					<div class="row">
						<div class="col-md-6">
							 <span class="badge badge-default" style="font-size: 12px">Fonds propres
              </span>
						</div>
						<div class="col-md-6">
                <input type="text" class="form-control" name="fondPropre"  [(ngModel)]="fondPropre">
						</div>
          </div>
          <br>
					<div class="row">
						<div class="col-md-6">
							 <span class="badge badge-default" style="font-size: 12px">Durée ( en mois)
              </span>
						</div>
						<div class="col-md-6">
                <input type="text" class="form-control" name="duree"  [(ngModel)]="duree">
						</div>
          </div>
          <br>
					<div class="row">
						<div class="col-md-6">
							 <span class="badge badge-default" style="font-size: 12px">Taux d'intérêt annuel (%)
              </span>
						</div>
						<div class="col-md-6">
                <input type="text" class="form-control" name="intAnnuel" [(ngModel)]="intAnnuel">
						</div>
          </div> 
          <br>
					<button type="button" class="btn btn-primary btn-lg" (click)="Calculer()">
						Calculer
          </button>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
									<b>Montant d'achat brut</b>
								</h5>
								<div class="card-body">
									<p class="card-text">
										{{MontantBrut}}
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<h5 class="card-header">
										<b>Montant d'achat net</b>
								</h5>
								<div class="card-body">
									<p class="card-text">
										{{MontantNet}}
									</p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<br>
					<h2>Tableau d'ammortissement</h2>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<table class="table">
								<thead>
									<tr>
										<th>
                        Période
										</th>
										<th>
                        Solde début
										</th>
										<th>
                        Mensualité
										</th>
										<th>
                        Intérêt
                    </th>
                    <th>
                        Capital remboursé
										</th>
										<th>
                        Solde fin
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let t of table">
                    <td>
                        {{t.Indice}}
                    </td>
                    <td>
                        {{t.Solde_Debut}}
                    </td>
                    <td>
                        {{t.Mensualite}}
                    </td>
                    <td>
                        {{t.Interet}}
                    </td>
                    <td>
                        {{t.Capital_Rembourse}}
                    </td>
                    <td>
                        {{t.Solde_Fin}}
                    </td>
                    </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
